@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto+Slab&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
.navbar {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: black;
  top: 0%;
  z-index: 10;
}
.fas {
  cursor: pointer;
}
.logo {
  width: 300px;
}
.logo h1 {
  font-family: "Roboto Slab", serif;
  color: rgb(250, 38, 0);
  font-size: 2rem;
}
h1 font {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.menu-icon {
  display: none;
  font-size: 20px;
}
.menu-icon .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin-right: 40px;
  font-family: "Roboto Slab", serif;
}

.menu-list li a:hover,
.menu-list li a.active {
  color: rgb(250, 38, 0);
  transition: all 0.5s ease-in-out;
}

/*..............................................MEDIA QUERY*................................................/
/* media query for 440px */
@media screen and (max-width: 440px) {
  .menu-list li a {
    margin-right: 20px;
  }
}

@media screen and (max-width: 414px) {
  .menu-icon {
    display: block;
    color: white;
  }

  .navbar {
    width: 100%;
  }
  .menu-list {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    right: 0px;
    top: 58px;
    transition: all 0.5s ease-in-out;
  }
  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .menu-list li:last-child {
    margin-bottom: 0px;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 100px;
    display: block;
    margin: auto;
  }
  .menu-list.close {
    display: none;
  }
}
